@page "/"

@inject Blazor1.Repository.IRepository repository


@*@inject HttpClient client*@
@using Microsoft.VisualBasic

<div class="row">
    <div class="col text-center">
        <h1>Welcome to my page!</h1>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h2>Show all pages in MOC database: </h2>
    </div>
</div>
@*<PageListTable/>  вызываем нашу таблицу *@

<PageListTable Pages="pages" /> @*@ref="pageList" получает все методы публичные и приватные *@

<IndividualPage Page="onePageToShow" IsTable="false" DisplayButtons="true" SwitchPage="ShowNewPage"/>

<div class="row">
    <div class="col tab-content"></div>
    <button @onclick="AddNewPage" class="btn btn-success">Add new page</button>
</div>


@code {

    List<Page> pages;

    Random rnd; 
    Page onePageToShow;

   // PageListTable pageList;  // создали приватное поле pageList для хранения инфы 

    protected async override Task OnInitializedAsync()
    {
    //await Task.Delay(2000);
        pages = repository.GetAllPages();

        rnd = new Random(DateTime.Now.Millisecond);
        onePageToShow = pages[rnd.Next(0, pages.Count)];
    }

    void ShowNewPage()
    {
        onePageToShow = SwitchPage();
    }
    
    Page SwitchPage()
    {
        Page tempPage;

        if (pages.Count >= 2)
        {
            int iterator = rnd.Next(0, pages.Count);
            tempPage = pages[iterator];
        }
        else if (pages.Count == 1)
            tempPage = pages[0];
        else
            return new Page() {Name = "No items in array", ReleaseDate = DateTime.Now};
        
        return tempPage;
    }

    void AddNewPage()
    {
       // pageList.DoSomething();
        pages.Add(new Page() { Name = "Page for test", Level = "╯︿╰", ReleaseDate = DateTime.Today });
    }
} 