@using System.Reflection.Metadata
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="table-striped">
        <tr>
            <th>Name</th>    
            <th>Level</th>
            <th>ReleaseDate</th>
            <th><input type="checkbox" @bind="displayButtons"></th> @*@bind="displayButtons"></th> @onchange="(() => displayButtons = !displayButtons)"*@
        </tr>
        </thead>
        <tbody>
        <GenericList ListOfItems="Pages">
            <ItemTemplate Context="onepage">
                <IndividualPage Page="onepage" IsTable="true" DisplayButtons="displayButtons" DeletePage="DeleteThePage" />
            </ItemTemplate>
        </GenericList>
        
        
        
        <Confirmation @ref="confirmation" onCancel="OnCancel" onConfirm="OnConfirm">
            <div class="table-danger">Do you wish to delete @pageToBeDeleted.Name?</div>
        </Confirmation>
        </tbody>
    </table>
</div>

@code {

    [Parameter] public List<Page> Pages { get; set; } //параметры должны быть публичными и pages долно быть с большой буквы
    
    bool displayButtons = false;

    void DeleteThePage(Page page)
    {
        pageToBeDeleted = page;
        confirmation.Show();
    //Pages.Remove(page);//удалить рядом столбик 
    }

    
    Confirmation confirmation; // это как ссылка где всем параметрам в Confirmation.razor мы присваиваем confirmation

    Page pageToBeDeleted;
    
    void OnConfirm()
    {
        Pages.Remove(pageToBeDeleted);//удалить рядом столбик (pagetobelited)
        confirmation.Hide();  
        pageToBeDeleted = null;
    }

    void OnCancel()
    {
        confirmation.Hide();
        pageToBeDeleted = null;
    }
    
    
    
    
    
    

    protected override void OnInitialized()
    {
        Console.WriteLine($"1. OnInitialized(). Pages count: {Pages?.Count}.");// вопрос проверяет на нулл
    } 

    protected override void OnParametersSet()// переносит/выводит все параметры
    {
        Console.WriteLine($"2. OnParametersSet(). Pages count: {Pages?.Count}.");// вопрос проверяет на нулл
    }

    protected override void OnAfterRender(bool firstRender)//первый ли раз страница отрисовуется если вся страница то тру а если переисовывается только часть страници то фолс
    {
        Console.WriteLine($"3. OnAfterRender(bool firstRender). Does it first render: {firstRender}.");
    }

    protected override bool ShouldRender()//дает или отключает возможность перерисовки компонента
    {
        return true;//изменения разрешены
    }
}


@*
@code {
    private List<Page> pages { get; set; }//список где мы инициализируем данные
    protected override async Task OnInitializedAsync()//позволяет подгрузить данные в таблицу при рендере
    {
        pages = new List<Page>()
        {
            new Page()
            {
                Name = "My first project",
                Level = "junior",
                ReleaseDate = new DateTime(2021, 08, 19)
            },
            new Page()
            {
                Name = "My 108 project",
                Level = "Still junior",
                ReleaseDate = new DateTime(2021, 08, 30)
            },
            new Page()
            {
                Name = "My 1009 project",
                Level = "Also junior",
                ReleaseDate = new DateTime(2021, 09, 15)
            },
        };

    }
}

*@