# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Blazor1.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\tymch\RiderProjects\Blazor1\.idea\.idea.Blazor1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
